# Node modules
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependency lock files
package-lock.json
yarn.lock

# Build files
/dist
/build

# Environmental files
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.temp

# Git-specific files
*.orig

# Miscellaneous
*.log
